<head>
    <link href="~/css/Game/Match.css" rel="stylesheet" />
</head>
<div class="field-game" style="background-image: url('/imgs/campo.jpg'); background-size: cover; background-position: center; width: 95%; height: 570px;">

    <div class="ball"></div>

    <div class="player-1 player" id="player-1"></div>



</div>    
<script src="~/js/Game/PlayerMove.js"></script>