@using App.Controllers
@{
    NotificationAlertType? type = TempData["AlertType"] as NotificationAlertType?;
    var alertMessage = TempData["AlertMessage"]?.ToString();
}


<style>
  .alert 
  {
    bottom: 50px;
    right: 30px;
    max-width: 400px;
    display: none;
  }
</style>

@if (type != null && !string.IsNullOrEmpty(alertMessage))
{
    <div class="alert alert-dismissible alert-@type.ToString().ToLower() position-fixed bottom-0 end-0 m-3 z-5 d-block" role="alert">
        <button type="button" class="btn btn-close" data-bs-dismiss="alert">
          <i class="bi bi-x-lg"></i>
        </button>
        @alertMessage
    </div>
}

